.card {
  background-size: cover;
  background-position: left;
  background-clip: content-box;
  border: 6px solid white;
  
  
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  opacity: .6;
  font-family: 'Nunito';
  font-size: 150%;
  color: #000;
}
body{
  
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNeESMBPa6deOAxkLvfm0-hsHBNF1z1MySVw&usqp=CAU');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;


}
 



.card .fa-spinner {
  font-size: 180px;
  position: absolute;
  left: 25%;
  top: 25%;
}
img{  
  opacity: .7;
  border: 7px solid #000;
  width: 60%;
  height: 60%;
  position: center;
}
h1{
  color: rgb(0, 47, 255);
  text-align: center;
}
h4{
  font-family: 'Varela Round';
  color:white;
}

